.container {
  background-image: url('../assets/finalbackground.png');
  max-width: 610px;
  width: 500px;
  height: 600px;
  margin-right: 10%;
  padding: 30px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.3);
  padding-top: 80px;
  
}

.h1{
  color: #ffff;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 140px;
}

.inform {
  display: flex;
  gap:10px;
  align-items: center;
  width:100%;
  justify-content: center;
}

.icon {
  font-size: 1.6em;
  color: #fefdfd;
}


.input {
   width:70%;
   background: transparent;
   height:27px;
   background-color: rgb(174, 172, 172);
   border-radius: 10px;
   padding:9px;
   font-size: 1.1em;
   color: #312929;
}

.input:focus {
  border: none;
  outline: none;

}


.submit {
  width: 110px;
  padding: 10px;
  text-align: center;
  margin-bottom: 12%;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  background-color:rgb(186, 51, 51);
}

.link_signup {
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: white;
}
