
@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-text: #ff0000;
}


*{
  margin:0px;
  padding: 0px;
  
}

body{
  width: 100%;
  height: 100%;
  
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; /* Bold */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

